PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://admin:change_me@mongodb:27017/cv_ai_db?authSource=admin
JWT_SECRET=change_me
JWT_EXPIRES_IN=1d
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=change_me
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=change_me
NOTIFICATION_SERVICE_URL=http://notification-service:5005
INTERNAL_SERVICE_TOKEN=change_me
NOTIFICATION_TIMEOUT_MS=3000
